@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary Colors */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
  
    /* Neutral Colors */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
  }
  
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow Semi Condensed', 'sans-serif';
    font-size: 0.8125rem;
    background-color: var(--light-grayish-blue);
    color: var(--white);
    line-height: 3ch;
    min-height: 100vh;
}

.testimonial-list {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    margin: 5rem 1.5rem;
}

.testimonial {
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

.testimonial--daniel {
    background-color: var(--moderate-violet);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-position: 88% 0%;
    background-repeat: no-repeat;
}

.testimonial--jonathan {
    background-color: var(--very-dark-grayish-blue);
}

.testimonial--jeanette {
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}

.testimonial--patrick {
    background-color: var(--very-dark-blackish-blue);
}

.testimonial--kira {
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}

.testimonial__header {
    display: flex;
    gap: 1rem;
}

.testimonial__image {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
}

.testimonial__image--daniel {
    border: 0.15rem solid hsl(264, 83%, 70%);
}

.testimonial__image--patrick {
    border: 0.15rem solid var(--moderate-violet);
}

.testimonial__status--white {
    color: hsla(0, 0%, 100%, 0.5);
}

.testimonial__status--black {
    color: hsla(217, 30%, 14%, 0.5);
}

.testimonial__name {
    font-size: 0.875rem;
    font-weight: 400;
}

.testimonial__name--black {
    font-weight: 500;
}

.testimonial__intro {
    font-size: 1.275rem;
    font-weight: 500;
    line-height: 2.2ch;
}

.testimonial__quote--white {
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: 500;
}

.testimonial__quote--black {
    color: hsla(217, 30%, 14%, 0.5);
    font-weight: 500;
}

@media (min-width: 62.5rem) {
    body {
        display: grid;
        place-items: center;
    }
    .testimonial-list {
        max-width: 70rem;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .testimonial {
        width: auto;
        height: auto;
    }

    .testimonial--daniel {
        grid-area: 1 / 1 / 1 / span 2;
        background-position: 82% 0%;
    }

    .testimonial--jonathan {
        grid-area: 1 / 3 / 1 / 3;
    }

    .testimonial--jeanette {
        grid-area: 2 / 1 / 2 / 1;
    }
    
    .testimonial--patrick {
        grid-area: 2 / 2 / 2 / span 2;
    }

    .testimonial--kira {
        grid-area: 1 / 4 / 3 / 5;
    }
    
}